body {
  background: url("./blackjacktable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  height: 90px;
  display: flex;
  font-size: 50px;
  justify-content: space-around;
}
.logo {
  display: inline-flex;
  width: 450px;
  justify-content: space-around;
  border-radius: 5px;
}
.title {
  color: red;
  background-color: whitesmoke;
  font-family: copperplate;
  height: 60px;
  width: 40px;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.result {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffec19;
  font-size: 50px;
  font-family: copperplate;
}
.player {
  display: flex;
  height: 80px;
  margin-top: -30px;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  color: white;
  font-family: copperplate;
}
.score {
  display: inline-flex;
}

img {
  width: 19.5vh;
  min-width: 65px;
  max-width: 19.5vh;
  height: 30vh;
  min-height: 100px;
  margin: 5px;
}
.cardcontainer {
  display: flex;
  height: 60vh;
  min-height: 200px;
  margin-top: -20px;
  justify-content: space-around;
}
.right,
.left {
  height: relative;
  width: 725px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
}
.verticalline {
  border: 3px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttoncontainer {
  display: flex;
  margin-top: 30px;
  position: sticky;
  justify-content: space-around;
}
.buttons {
  display: inline-flex;
  width: 475px;
  justify-content: space-around;
}
.button {
  outline: none;
  border-radius: 5px;
  border: 2px;
  font-size: 30px;
  width: 125px;
  height: 60;
  text-align: center;
  transition-duration: 0.3s;
  font-family: copperplate;
}
.clicker1 {
  background: rgb(40, 40, 255);
  color: white;
}
.clicker1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.clicker2 {
  background: goldenrod;
  color: black;
}
.clicker2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.clicker3 {
  background: red;
  color: white;
}
.clicker3:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
